<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Table</title>
  </head>
  <body>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;

        color: var(--black);
        background: #eceae4;

        font-family: "DM Sans", sans-serif;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      /* Responsive table */
      @media screen and (max-width: 600px) {
        table {
          border: 0;
        }

        table caption {
          font-size: 1.3em;
        }

        table thead {
          display: none;
        }

        table tbody {
          display: block;
          width: auto;
          position: relative;
          overflow-x: auto;
        }

        table td,
        table th {
          display: block;
          padding: 0;
        }

        table td:before {
          float: left;
          font-weight: bold;
        }
      }

      header {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }

      .logo h1 {
        margin: 0;
      }

      nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
      }

      nav li {
        list-style: none;
        margin-right: 20px;
      }

      nav li:last-child {
        margin-right: 0;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
      }

      nav a:hover {
        background-color: #fff;
        color: #333;
      }

      nav li:first-child {
        margin-right: auto;
      }
      #form {
        background-color: #f2f2f2;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      }

      #form h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      #form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      #form input[type="text"],
      #form input[type="email"],
      #form input[type="password"],
      #form input[type="roles"] {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }

      #form button[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      #form button[type="submit"]:hover {
        background-color: #3e8e41;
      }
      .delete-btn {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      .delete-btn:hover {
        background-color: #e60000;
      }
    </style>

    <main>
      <table>
        <h1>All Users</h1>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>SecondName</th>
            <th>Number</th>
            <th>Balance</th>
            <th>Roles</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.firstName %></td>
            <td><%= user.secondName %></td>
            <td><%= user.number %></td>
            <td><%= user.balance %></td>
            <td><%= user.roles %></td>
            <td>
              <a href="/delete/<%=user.id%>" class="delete-button">❌</a>
            </td>
            <td>
              <a href="/<%=user.id%>" class="update-button">📋</a>
            </td>
            <td>
              <a href="/detail/<%=user.id%>" class="update-button">⚙️</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <table>
        <h1>All Transactions</h1>
        <thead>
          <tr>
            <th>ID</th>
            <th>Sender Id</th>
            <th>Receiver Id</th>
            <th>amount</th>
            <th>date</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          <% transactions.forEach(function(transaction) { %>
          <tr>
            <td><%= transaction.id %></td>
            <td><%= transaction.senderId %></td>
            <td><%= transaction.receiverId %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.date %></td>
            <td><%= transaction.status %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div id="form">
        <h2>Register New User</h2>
        <form action="/registerByAdmin" method="post">
          <label for="name">FirstName:</label>
          <input type="text" id="firstName" name="firstName" /><br />

          <label for="name">SecondName:</label>
          <input type="text" id="secondName" name="secondName" /><br />

          <label for="name">Number:</label>
          <input type="text" id="number" name="number" /><br />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" /><br />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" /><br />

          <label for="roles">Roles:</label>
          <input type="roles" id="roles" name="roles" /><br />

          <button type="submit" id="register-btn">Register</button>
        </form>
      </div>
    </main>
  </body>
</html>
